[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
numpy = "==1.26.4"
scipy = "==1.12.0"
sentence-transformers = "==2.7.0"
torch = "==2.4.0"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.9"
